# Compiled python modules.
*.pyc

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea

# Ignore generated docs
docs/_build
docs/api
.venv/

# KSC 잡 실행 산물
*.pbs.o*
*.pbs.e*
*_pretrain.log
*_smoketest.log

PR/
